div#pgSideWrap
  h1 Sponsors
  h2 Platinum Sponsors
  a(href="http://omniti.com")
    img(src="images/omniti.gif") 
  h2 Gold Sponsors
  a(href="http://2ndquadrant.com")
    img(src="images/2ndq.png") 
  h2 Silver Sponsors
  a(href="http://vmware.com")
    img(src="images/VMW_09Q3_LOGO_Corp_Gray.png",width="211")
