<p><strong><span style="color: #ec5800; font-family: verdana, sans-serif; font-size: 1.4em; text-align: left;">About</span></strong></p>
<p>PG Corridor Days DC 2012 is a conference run by the local Baltimore / Washington Postgres User Group (BWPUG). This conference is part of the Postgres “Corridor Days” series – a new set of community run conferences occurring up-and-down the east coast corridor. For its inaugural year, the Corridor Days conference will be taking place in Washington D.C. and New York.</p>
<p>BWPUG was established in 2009 and is currently organized by Robert Treat, Greg Smith, and Stephen Frost. &nbsp;BWPUG holds free monthly meetups on emerging Postgres and database technology topics with speakers from around the corner, and around the world.</p>
<p>To join BWPUG please visit our Meetup group at <a href="http://www.meetup.com/Baltimore-Washington-PostgreSQL-Users-Group/" target="_blank">Meetup.com</a></p>

