div#contact
  div#pgContentWrap
    h1 Contact
    p PG Corridor Days DC 2012 is being organized by The Baltimore / Washington Postgres Users Group. If you have any questions or comments, please email <a href="mailto:contact@bwpug.org">contact@bwpug.org</a>&nbsp;and we will do our best to assist you.
