div#venue
  div#pgContentWrap
    h1 Hotels
    p If you would like to stay overnight, there are a number of hotels within walking distance of the conference site. Each of these offer free high-speed Internet access, room service from <a href="http://www.omalleyspub.com/dulles/">O'Malley's Pub</a>, and a complimentary shuttle for local attractions and to/from Dulles Airport. Please contact the hotels directly for further information and reservations.
    h2 Hampton Inn & Suites, Dulles Airport
    ul 
        li Address: <br /> 
                  | 22700 Holiday Park Drive <br />
                  | Sterling, Virginia 20166 
        li Phone: (703) 537-7800
        li Fax: (703) 896-7510 
        li Toll Free: (800) HAMPTON 
    h2 TownePlace Suites Dulles Airport
    ul
        li Address: <br />
                  | 22744 Holiday Park Drive <br />
                  | Sterling, Virginia 20166 
        li Phone:  (703) 707-2017
        li Fax: (703) 707-9676
        li Toll Free: (888) 236-2427
    h2 Best Western Dulles Airport Inn
    ul
        li Address: <br />
                  | 45440 Holiday Drive <br />
                  | Sterling, Virginia 20166 
        li Phone: (703) 471-8300 
        li Fax: (703) 471-8382

