div#home
  div#pgContentWrap
    h1 Announcing PG Corridor Days DC 2012
    p PG Corridor Days DC 2012 will be held on March 30th, 2012 at the Executive Conference & Training Center, in Reston, Virginia. PG Corridor Days DC is an intensive one-day Postgres symposium with technical sessions focusing on the core topics you need to succeed with Postgres. It will cover topics for users, developers and contributors to Postgres. 
    ul
      li Hear lessons learned from leading companies who use Postgres.
      li Meet face-to-face in the "hallway track" and make lasting connections.
      li Engage the best and brightest in a lively job market.
      li Interact with users from across the region including members of the local Postgres User Group.
    p PG Corridor Days DC is hosted by BWPUG and made possible through the generous support from our sponsors.
    p We look forward to seeing you in March! 
