!!!
html
  head
    title Baltimore / Washington Postgres User Group - PG Corridor Days DC 2012 - #{title}
  body
    include includes/header
    h1 Content goes here 
    #container!= body
    include includes/sponsors
