div#registration
  div#pgContentWrap
    h1 Registration
    p Tickets for PGDay DC 2012 are available through EventBrite and cost $150 for admission on March 30th, 2012.  Below is a registration form for your convenience, or you can view our page on EventBrite at <a href='http://pgcorridordaysdc.eventbrite.com/' target='_blank'>http://pgcorridordaysdc.eventbrite.com/</a>
    p If you have any questions please reach out to us at <a href='mailto:contact@bwpug.org'>contact@bwpug.org</a>
    | <div style="width:100%; text-align:left;" >
    |   <iframe  src="http://www.eventbrite.com/tickets-external?eid=820092920&ref=etckt" frameborder="0" height="220" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
    |   <div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" >
    |     <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/r/etckt" >Event Registration Online</a>
    |     <span style="color:#ddd;" > for </span>
    |     <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://pgcorridordaysdc.eventbrite.com?ref=etckt" >PGDay DC 2012</a>
    |     <span style="color:#ddd;" > powered by </span>
    |     <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com?ref=etckt" >Eventbrite</a>
    |   </div>
    | </div>
