div#schedule
  div#pgContentWrap
    h1 Schedule
    p PG Corridor Days DC 2012 will take place on March 30th, 2012, from 9AM to 5PM. We will have both refreshments and lunch provided for attendees. We are currently working on finalizing our schedule, but we have a number of great speakers already lined up, including:
    ul
      li Postgres Query Analysis
        ul
            li Stephen Frost, Senior Principal, Noblis
      li PostgreSQL at VMWare
        ul
            li David Fetter, Senior Member of Technical Staff, VMWare 
      li Big Bad *Upgraded* Postgres 
        ul 
            li Robert Treat, COO, OmniTI
      li Unlocking the Postgres Lock Manager
        ul
            li Bruce Momjian, Senior Database Architect, EnterpriseDB
      li Secure Postgres Installations 
        ul
            li Magnus Hagander, Database Architect, Redpill Linpro 
      li Range Types - Your life will never be the same
        ul 
            li Jonathan Katz, Managing Director, Exco Ventures, LLC
      li Seeking PostgreSQL - Adjusting for SSD in database performance   
        ul
            li Greg Smith, Principal Consultant, 2nd Quadrant

    p Talks will run roughly for 1 hour each, including questions, and we will have a break for lunch (provided). 
