h1 Schedule
  p PG Corridor Days DC 2012 will be taking place on March 30th, 2012, at the Executive Conference and Training Center, from 9AM to 5PM. &nbsp;We are&nbsp;currently working on finalizing our schedule, but we have a number of interesting speakers lined up, including:
  ul
    li Stephen Frost
    li Bruce Momjian
    li Robert Treat
    li Greg Smith

p We plan to announce our full schedule in the next couple of weeks, so please stay tuned.
