div#schedule
  div#pgContentWrap
    h1 Schedule
    p PG Corridor Days DC 2012 will take place on March 30th, 2012, from 9AM to 5PM. We will have both refreshments and lunch provided for attendees. We are currently working on finalizing our schedule, but we have a number of great speakers already lined up, including:
    ul
      li Postgres Query Analysis
        ul
            li Stephen Frost, Senior Principal, Noblis
      li Big Bad *Upgraded* Postgres 
        ul 
            li Robert Treat, COO, OmniTI
      li Unlocking the Postgres Lock Manager
        ul
            li Bruce Momjian, Senior Database Architect, EnterpriseDB
      li "To Be Announced" 
        ul
            li Greg Smith, Principal Consultant, 2nd Quadrant
      li Secure Postgres Installations 
         ul
            li Magnus Hagander, Database Architect, Redpill Linpro 

    p We still have more to announce in the next couple of weeks, so please stay tuned.
