div#schedule
  div#pgContentWrap
    h1 Schedule
    p PG Corridor Days DC 2012 will take place on March 30th, 2012, from 9AM to 5PM. We will have both refreshments and lunch provided for attendees. We are currently working on finalizing our schedule, but we have a number of great speakers already lined up, including:
    ul
      li Stephen Frost, Senior Principal, Noblis
      li Bruce Momjian, Senior Database Architect, EnterpriseDB
      li Robert Treat, COO, OmniTI
      li Greg Smith, Principal Consultant, 2nd Quadrant
      li Magnus Hagander, Database Architect, Redpill Linpro 
    p We plan to announce our full schedule in the next couple of weeks, so please stay tuned.
