div#sponsor
  div#pgContentWrap
    h1 Sponsorship Opportunities
    p PG Corridor Days DC 2012 would not be possible without the help from our sponsors! We are providing providing several sponsorship opportunities at the Platinum, Gold, and Silver levels. Sponsorship goes to paying the costs of the conference, including:
    ul
      li Venue space, equipment rentals, staffing, and catering
      li Sponsorship packets and programs
      li Speaker sponsorships
      li Event party
    p The list below explains the benefits at each sponsorship level:
    h2 Platinum
    p As a Platinum sponsor, you and your company will have the following benefits:
    ul
      li A 20-minute keynote speech
      li One speaking slot reserved for a member of your company
      li Five conferences passes
      li Promotion in all conference materials, including back-page ad in conference handbook
      li Inclusion of promotional item into the conference pack
      li Prominent display of logo on conference website
      li Recognition by conference organizers during opening and closing keynote
    h2 Gold ($2,500)
    p As a Gold sponsor, you and your company will have the following benefits:
    ul
      li One speaking slot reserved for a member of your company
      li Three conference passes
      li Access to discounted ticket rate
      li Promotion in all conference materials, including full-page ad in conference handbook
      li Inclusion of promotional item into the conference pack
      li Prominent display of logo on conference website
      li Recognition by conference organizers during opening and closing keynote
    h2 Silver ($1,000)
    p As a Silver sponsor, you and your company will have the following benefits
    ul
      li One conference passes
      li Access to discounted ticket rate
      li Printed ad and logo in the conference handbook
      li Prominent display of logo on conference website
      li Opportunity to sponsor post-conference networking event
    h2#western For a full prospectus, please send an email to <a href="mailto:robert@omniti.com">robert@omniti.com</a>
    

