<h1 style="font-size: 1.7em; margin-top: 0em; margin-bottom: 0em; color: #ec5800; font-family: verdana, sans-serif; text-align: left;">Sponsorship Opportunities</h1>
<p style="margin-bottom: 0in;">PG Corridor Days DC 2012 would not be possible without the help from our sponsors! &nbsp;We are providing providing several sponsorship opportunities at the Platinum, Gold, Silver, and Bronze level. Sponsorship goes to paying the cost of the conference, including:</p>
<ul>
<li>
<p style="margin-bottom: 0in;">Venue space, equipment rentals, staffing and catering</p>
</li>
<li>
<p style="margin-bottom: 0in;">Sponsorship packs that include programs,</p>
</li>
<li>
<p style="margin-bottom: 0in;">Speaker sponsorships</p>
</li>
<li>
<p style="margin-bottom: 0in;">One sponsored party</p>
</li>
</ul>
<p style="margin-bottom: 0in;">The list below explains the benefits at each sponsorship level.</p>
<h3 class="western">Platinum</h3>
<p style="margin-bottom: 0in;">As a Platinum sponsor, you and your company will have the following benefits:</p>
<ul>
<li>
<p style="margin-bottom: 0in;">A 20-minute keynote speech</p>
</li>
<li>
<p style="margin-bottom: 0in;">One speaking slot reserved for a member of your company</p>
</li>
<li>
<p style="margin-bottom: 0in;">Five conferences passes</p>
</li>
<li>
<p style="margin-bottom: 0in;">Promotion in all conference materials, including back-page ad in conference handbook</p>
</li>
<li>
<p style="margin-bottom: 0in;">Inclusion of promotional item into the conference pack</p>
</li>
<li>
<p style="margin-bottom: 0in;">Prominent display of logo on conference website</p>
</li>
<li>
<p style="margin-bottom: 0in;">Recognition by conference organizers during opening and closing keynote</p>
</li>
</ul>
<h3 class="western">Gold ($2,500)</h3>
<p style="margin-bottom: 0in;">As a Gold sponsor, you and your company will have the following benefits:</p>
<ul>
<li>
<p style="margin-bottom: 0in;">One speaking slot reserved for a member of your company</p>
</li>
<li>
<p style="margin-bottom: 0in;">Three conference passes</p>
</li>
<li>
<p style="margin-bottom: 0in;">Access to discounted ticket rate</p>
</li>
<li>
<p style="margin-bottom: 0in;">Promotion in all conference materials, including full-page ad in conference handbook</p>
</li>
<li>
<p style="margin-bottom: 0in;">Inclusion of promotional item into the conference pack</p>
</li>
<li>
<p style="margin-bottom: 0in;">Prominent display of logo on conference website</p>
</li>
<li>
<p style="margin-bottom: 0in;">Recognition by conference organizers during opening and closing keynote</p>
</li>
</ul>
<h3 class="western">Silver ($1,000)</h3>
<p style="margin-bottom: 0in;">As a Silver sponsor, you and your company will have the following benefits</p>
<ul>
<li>
<p style="margin-bottom: 0in;">One conference passes</p>
</li>
<li>
<p style="margin-bottom: 0in;">Access to discounted ticket rate</p>
</li>
<li>
<p style="margin-bottom: 0in;">Printed ad and logo in the conference handbook</p>
</li>
<li>
<p style="margin-bottom: 0in;">Prominent display of logo on conference website</p>
</li>
<li>
<p style="margin-bottom: 0in;">Opportunity to sponsor post-conference networking event</p>
</li>
</ul>
<h2 class="western"><span style="font-size: 10px; font-weight: normal;">For a full prospectus, please send an email to robert@omniti.com</span></h2>

