div#venue
  div#pgContentWrap
    h1 Venue
    p PG Corridor Days DC 2012 is being held on March 30th, 2012 at the <a href="http://www.conferenceandtraining.com/">Executive Conference and Training Center</a>.
    p
      | <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=22685+Holiday+Park+Drive,+Dulles,+VA+20166&amp;sll=38.987293,-77.429398&amp;sspn=0.007631,0.016512&amp;ie=UTF8&amp;hq=&amp;hnear=22685+Holiday+Park+Dr,+Sterling,+Loudoun,+Virginia+20166&amp;view=map&amp;t=v&amp;z=14&amp;ll=38.987418,-77.429023&amp;output=embed"></iframe><br />
      | <small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=22685+Holiday+Park+Drive,+Dulles,+VA+20166&amp;sll=38.987293,-77.429398&amp;sspn=0.007631,0.016512&amp;ie=UTF8&amp;hq=&amp;hnear=22685+Holiday+Park+Dr,+Sterling,+Loudoun,+Virginia+20166&amp;view=map&amp;t=v&amp;z=14&amp;ll=38.987418,-77.429023" style="color:#0000FF;text-align:left">View Larger Map</a></small>
    h1 Address
    p 
      | 22685 Holiday Park Dr<br />
      | Sterling, VA<br /> 
      | 20166<br />

